#even,
#odd {
    padding: 20px 0;
    display: flex;
    justify-content: space-around;
    color: #ffffff;
    font-size: 35px;
}

#even >*,
#odd >* {
    padding: 8px;
    border: 2px solid black;
    border-radius: 50%;
}

#even {
    background-color: green;
}
#odd {
    background-color: red;
}